.colored-dark .is-builder[gridoutline] > div > div {
  outline: 1px solid rgba(132, 132, 132, 0.27);
}
.colored-dark .is-builder > div > div.cell-active:not([data-protected]) {
  outline: 1px solid #00da89;
}
.colored-dark .is-builder .row-active:not([data-protected]) {
  outline: 1px solid #00da89;
}
.colored-dark .is-builder .row-active:not([data-protected]).row-outline {
  outline: 1px solid rgba(132, 132, 132, 0.2);
}
.colored-dark .is-builder .cell-active .elm-active {
  background: rgba(200, 200, 201, 0.11);
}
.colored-dark .is-builder .cell-active[data-html] {
  background-color: rgba(200, 200, 201, 0.11);
}
.colored-dark .is-builder .cell-active .icon-active {
  background-color: rgba(200, 200, 201, 0.4);
}
.colored-dark .is-builder .elm-inspected {
  outline: 1px solid #ffb84a !important;
}
.colored-dark .sortable-ghost {
  background: rgba(204, 204, 204, 0.15);
}
.colored-dark .is-builder .snippet-item.sortable-ghost {
  background: rgba(204, 204, 204, 0.15);
}
.colored-dark .moveable-control {
  background: #2196f3 !important;
}
.colored-dark #_cbhtml,
.colored-dark .is-ui {
  /*  general use */
}
.colored-dark #_cbhtml .style-helper,
.colored-dark .is-ui .style-helper {
  background: #333;
  color: rgba(255, 255, 255, 0.95);
}
.colored-dark #_cbhtml .style-helper.on,
.colored-dark .is-ui .style-helper.on {
  background: #525252;
}
.colored-dark #_cbhtml .style-helper.hover,
.colored-dark .is-ui .style-helper.hover {
  background: #525252;
}
.colored-dark #_cbhtml .style-helper svg,
.colored-dark .is-ui .style-helper svg {
  fill: rgba(255, 255, 255, 0.95);
}
.colored-dark #_cbhtml .style-helper.modal-color,
.colored-dark .is-ui .style-helper.modal-color {
  background: #000;
}
.colored-dark #_cbhtml .style-helper.modal-background,
.colored-dark .is-ui .style-helper.modal-background {
  background: #d6d6d6;
}
.colored-dark #_cbhtml .style-helper.button-pickcolor-border,
.colored-dark .is-ui .style-helper.button-pickcolor-border {
  border: rgba(255, 255, 255, 0.55) 1px solid;
}
.colored-dark #_cbhtml .style-helper.button-pickcolor-background,
.colored-dark .is-ui .style-helper.button-pickcolor-background {
  background: rgba(255, 255, 255, 0.2);
}
.colored-dark #_cbhtml .style-helper.snippet-color,
.colored-dark .is-ui .style-helper.snippet-color {
  background: #000;
}
.colored-dark #_cbhtml .style-helper.snippet-background,
.colored-dark .is-ui .style-helper.snippet-background {
  background: #bfbfbf;
}
.colored-dark #_cbhtml .style-helper.snippet-tabs-background,
.colored-dark .is-ui .style-helper.snippet-tabs-background {
  background: #dbdbdb;
}
.colored-dark #_cbhtml .style-helper.snippet-tab-item-background,
.colored-dark .is-ui .style-helper.snippet-tab-item-background {
  background: rgba(255, 255, 255, 0.55);
}
.colored-dark #_cbhtml .style-helper.snippet-tab-item-background-active,
.colored-dark .is-ui .style-helper.snippet-tab-item-background-active {
  background: #dbdbdb;
}
.colored-dark #_cbhtml .style-helper.snippet-tab-item-background-hover,
.colored-dark .is-ui .style-helper.snippet-tab-item-background-hover {
  background: rgba(255, 255, 255, 0.55);
}
.colored-dark #_cbhtml .style-helper.snippet-tab-item-color,
.colored-dark .is-ui .style-helper.snippet-tab-item-color {
  background: rgba(0, 0, 0, 0.95);
}
.colored-dark #_cbhtml .style-helper.snippet-more-item-background,
.colored-dark .is-ui .style-helper.snippet-more-item-background {
  background: #dedede;
}
.colored-dark #_cbhtml .style-helper.snippet-more-item-background-active,
.colored-dark .is-ui .style-helper.snippet-more-item-background-active {
  background: rgba(255, 255, 255, 0.38);
}
.colored-dark #_cbhtml .style-helper.snippet-more-item-background-hover,
.colored-dark .is-ui .style-helper.snippet-more-item-background-hover {
  background: rgba(255, 255, 255, 0.38);
}
.colored-dark #_cbhtml .style-helper.snippet-more-item-color,
.colored-dark .is-ui .style-helper.snippet-more-item-color {
  background: rgba(0, 0, 0, 0.95);
}
.colored-dark #_cbhtml .style-helper.tabs-background,
.colored-dark .is-ui .style-helper.tabs-background {
  background: rgba(255, 255, 255, 0.12);
}
.colored-dark #_cbhtml .style-helper.tab-item-active-border-bottom,
.colored-dark .is-ui .style-helper.tab-item-active-border-bottom {
  border: rgba(0, 0, 0, 0.5) 1px solid;
}
.colored-dark #_cbhtml .style-helper.tab-item-color,
.colored-dark .is-ui .style-helper.tab-item-color {
  background: rgba(0, 0, 0, 0.95);
}
.colored-dark #_cbhtml .style-helper.tabs-more-background,
.colored-dark .is-ui .style-helper.tabs-more-background {
  background: #dedede;
}
.colored-dark #_cbhtml .style-helper.tabs-more-border,
.colored-dark .is-ui .style-helper.tabs-more-border {
  border: 1px solid #dedede;
}
.colored-dark #_cbhtml .style-helper.tabs-more-item-color,
.colored-dark .is-ui .style-helper.tabs-more-item-color {
  background: rgba(0, 0, 0, 0.95);
}
.colored-dark #_cbhtml .style-helper.tabs-more-item-background-hover,
.colored-dark .is-ui .style-helper.tabs-more-item-background-hover {
  background: rgba(255, 255, 255, 0.55);
}
.colored-dark #_cbhtml .style-helper.separator-color,
.colored-dark .is-ui .style-helper.separator-color {
  background: rgba(255, 255, 255, 0.2);
}
.colored-dark #_cbhtml .style-helper-button-classic,
.colored-dark .is-ui .style-helper-button-classic {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
}
.colored-dark #_cbhtml .style-helper-button-classic.hover,
.colored-dark .is-ui .style-helper-button-classic.hover {
  background: rgba(255, 255, 255, 0.3);
}
.colored-dark #_cbhtml .style-helper-button-classic svg,
.colored-dark .is-ui .style-helper-button-classic svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-area,
.colored-dark .is-ui .is-area {
  color: #000 !important;
  background: #d6d6d6 !important;
}
.colored-dark #_cbhtml .is-area button,
.colored-dark .is-ui .is-area button {
  color: #000 !important;
}
.colored-dark #_cbhtml .is-area button svg,
.colored-dark .is-ui .is-area button svg {
  fill: #000 !important;
}
.colored-dark #_cbhtml .is-area-2nd,
.colored-dark .is-ui .is-area-2nd {
  color: #000 !important;
  background: #bfbfbf !important;
}
.colored-dark #_cbhtml .is-area-2nd button,
.colored-dark .is-ui .is-area-2nd button {
  color: #000 !important;
}
.colored-dark #_cbhtml .is-area-2nd button svg,
.colored-dark .is-ui .is-area-2nd button svg {
  fill: #000 !important;
}
.colored-dark #_cbhtml .is-pop,
.colored-dark .is-ui .is-pop {
  color: #000;
  background: #d6d6d6;
  border: 1px solid #d6d6d6;
  box-shadow: 4px 17px 20px 0px rgba(0, 0, 0, 0.08);
}
.colored-dark #_cbhtml .is-pop button,
.colored-dark .is-ui .is-pop button {
  color: #000;
  background-color: transparent !important;
}
.colored-dark #_cbhtml .is-pop button svg,
.colored-dark .is-ui .is-pop button svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-pop.arrow-top:after,
.colored-dark .is-ui .is-pop.arrow-top:after {
  border-bottom-color: #d6d6d6;
}
.colored-dark #_cbhtml .is-pop.arrow-top:before,
.colored-dark .is-ui .is-pop.arrow-top:before {
  border-bottom-color: #d6d6d6;
}
.colored-dark #_cbhtml .is-pop.arrow-left:after,
.colored-dark .is-ui .is-pop.arrow-left:after {
  border-right-color: #d6d6d6;
}
.colored-dark #_cbhtml .is-pop.arrow-left:before,
.colored-dark .is-ui .is-pop.arrow-left:before {
  border-right-color: #d6d6d6;
}
.colored-dark #_cbhtml .is-pop.arrow-right:after,
.colored-dark .is-ui .is-pop.arrow-right:after {
  border-left-color: #d6d6d6;
}
.colored-dark #_cbhtml .is-pop.arrow-right:before,
.colored-dark .is-ui .is-pop.arrow-right:before {
  border-left-color: #d6d6d6;
}
.colored-dark #_cbhtml .is-pop.arrow-bottom:after,
.colored-dark .is-ui .is-pop.arrow-bottom:after {
  border-top-color: #d6d6d6;
}
.colored-dark #_cbhtml .is-pop.arrow-bottom:before,
.colored-dark .is-ui .is-pop.arrow-bottom:before {
  border-top-color: #d6d6d6;
}
.colored-dark #_cbhtml .is-pop-tabs > div,
.colored-dark .is-ui .is-pop-tabs > div {
  background: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 0.95);
}
.colored-dark #_cbhtml .is-pop-tabs > div.active,
.colored-dark .is-ui .is-pop-tabs > div.active {
  background: transparent;
}
.colored-dark #_cbhtml .is-general-options,
.colored-dark .is-ui .is-general-options {
  color: #fff;
  background: #333;
}
.colored-dark #_cbhtml .is-general-options button,
.colored-dark #_cbhtml .is-general-options div[role=button],
.colored-dark .is-ui .is-general-options button,
.colored-dark .is-ui .is-general-options div[role=button] {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.95);
  width: 45px;
  height: 40px;
  margin: 0;
  box-shadow: none;
}
.colored-dark #_cbhtml .is-general-options button.on,
.colored-dark #_cbhtml .is-general-options div[role=button].on,
.colored-dark .is-ui .is-general-options button.on,
.colored-dark .is-ui .is-general-options div[role=button].on {
  background: #525252;
}
.colored-dark #_cbhtml .is-general-options button:hover,
.colored-dark #_cbhtml .is-general-options div[role=button]:hover,
.colored-dark .is-ui .is-general-options button:hover,
.colored-dark .is-ui .is-general-options div[role=button]:hover {
  background: #525252 !important;
}
.colored-dark #_cbhtml .is-general-options button svg,
.colored-dark #_cbhtml .is-general-options div[role=button] svg,
.colored-dark .is-ui .is-general-options button svg,
.colored-dark .is-ui .is-general-options div[role=button] svg {
  fill: rgba(255, 255, 255, 0.95);
}
.colored-dark #_cbhtml .is-rte-tool,
.colored-dark #_cbhtml .is-elementrte-tool,
.colored-dark #_cbhtml .is-rte-pop.rte-more-options,
.colored-dark #_cbhtml .is-rte-pop.elementrte-more-options,
.colored-dark .is-ui .is-rte-tool,
.colored-dark .is-ui .is-elementrte-tool,
.colored-dark .is-ui .is-rte-pop.rte-more-options,
.colored-dark .is-ui .is-rte-pop.elementrte-more-options {
  color: #fff;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 9px 0px;
}
.colored-dark #_cbhtml .is-rte-tool button,
.colored-dark #_cbhtml .is-elementrte-tool button,
.colored-dark #_cbhtml .is-rte-pop.rte-more-options button,
.colored-dark #_cbhtml .is-rte-pop.elementrte-more-options button,
.colored-dark .is-ui .is-rte-tool button,
.colored-dark .is-ui .is-elementrte-tool button,
.colored-dark .is-ui .is-rte-pop.rte-more-options button,
.colored-dark .is-ui .is-rte-pop.elementrte-more-options button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.95);
  box-shadow: none;
}
.colored-dark #_cbhtml .is-rte-tool button.on,
.colored-dark #_cbhtml .is-elementrte-tool button.on,
.colored-dark #_cbhtml .is-rte-pop.rte-more-options button.on,
.colored-dark #_cbhtml .is-rte-pop.elementrte-more-options button.on,
.colored-dark .is-ui .is-rte-tool button.on,
.colored-dark .is-ui .is-elementrte-tool button.on,
.colored-dark .is-ui .is-rte-pop.rte-more-options button.on,
.colored-dark .is-ui .is-rte-pop.elementrte-more-options button.on {
  background: #525252;
}
.colored-dark #_cbhtml .is-rte-tool button:hover,
.colored-dark #_cbhtml .is-elementrte-tool button:hover,
.colored-dark #_cbhtml .is-rte-pop.rte-more-options button:hover,
.colored-dark #_cbhtml .is-rte-pop.elementrte-more-options button:hover,
.colored-dark .is-ui .is-rte-tool button:hover,
.colored-dark .is-ui .is-elementrte-tool button:hover,
.colored-dark .is-ui .is-rte-pop.rte-more-options button:hover,
.colored-dark .is-ui .is-rte-pop.elementrte-more-options button:hover {
  background: #525252;
}
.colored-dark #_cbhtml .is-rte-tool button svg,
.colored-dark #_cbhtml .is-elementrte-tool button svg,
.colored-dark #_cbhtml .is-rte-pop.rte-more-options button svg,
.colored-dark #_cbhtml .is-rte-pop.elementrte-more-options button svg,
.colored-dark .is-ui .is-rte-tool button svg,
.colored-dark .is-ui .is-elementrte-tool button svg,
.colored-dark .is-ui .is-rte-pop.rte-more-options button svg,
.colored-dark .is-ui .is-rte-pop.elementrte-more-options button svg {
  fill: rgba(255, 255, 255, 0.95);
}
.colored-dark #_cbhtml .is-rte-tool .rte-separator,
.colored-dark #_cbhtml .is-elementrte-tool .rte-separator,
.colored-dark #_cbhtml .is-rte-pop.rte-more-options .rte-separator,
.colored-dark #_cbhtml .is-rte-pop.elementrte-more-options .rte-separator,
.colored-dark .is-ui .is-rte-tool .rte-separator,
.colored-dark .is-ui .is-elementrte-tool .rte-separator,
.colored-dark .is-ui .is-rte-pop.rte-more-options .rte-separator,
.colored-dark .is-ui .is-rte-pop.elementrte-more-options .rte-separator {
  background: rgba(179, 179, 179, 0.35);
}
.colored-dark #_cbhtml[toolbarleft] .is-rte-tool,
.colored-dark #_cbhtml[toolbarleft] .is-elementrte-tool,
.colored-dark .is-ui[toolbarleft] .is-rte-tool,
.colored-dark .is-ui[toolbarleft] .is-elementrte-tool {
  box-shadow: rgba(0, 0, 0, 0.05) 6px 0px 9px 0px;
}
.colored-dark #_cbhtml[toolbarright] .is-rte-tool,
.colored-dark #_cbhtml[toolbarright] .is-elementrte-tool,
.colored-dark .is-ui[toolbarright] .is-rte-tool,
.colored-dark .is-ui[toolbarright] .is-elementrte-tool {
  box-shadow: rgba(0, 0, 0, 0.05) -4px 0px 9px 0px;
}
.colored-dark #_cbhtml .is-rte-pop,
.colored-dark .is-ui .is-rte-pop {
  color: #fff;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 7px 12px 0px;
}
.colored-dark #_cbhtml .is-rte-pop button.on,
.colored-dark .is-ui .is-rte-pop button.on {
  background: #525252;
}
.colored-dark #_cbhtml .is-rte-pop button:hover,
.colored-dark .is-ui .is-rte-pop button:hover {
  background: #525252;
}
.colored-dark #_cbhtml .is-rte-pop .is-label.separator,
.colored-dark .is-ui .is-rte-pop .is-label.separator {
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
}
.colored-dark #_cbhtml .is-rte-pop .is-rangeslider,
.colored-dark .is-ui .is-rte-pop .is-rangeslider {
  background: rgba(255, 255, 255, 0.18);
}
.colored-dark #_cbhtml .is-rte-pop .is-rangeslider::-webkit-slider-thumb,
.colored-dark .is-ui .is-rte-pop .is-rangeslider::-webkit-slider-thumb {
  background: #999999;
}
.colored-dark #_cbhtml .is-rte-pop .is-rangeslider::-moz-range-thumb,
.colored-dark .is-ui .is-rte-pop .is-rangeslider::-moz-range-thumb {
  background: #999999;
}
.colored-dark #_cbhtml .is-rte-pop.rte-paragraph-options li.on,
.colored-dark .is-ui .is-rte-pop.rte-paragraph-options li.on {
  background: #525252;
}
.colored-dark #_cbhtml .is-rte-pop.rte-paragraph-options > ul > li:hover, .colored-dark #_cbhtml .is-rte-pop.rte-paragraph-options > ul > li:focus,
.colored-dark .is-ui .is-rte-pop.rte-paragraph-options > ul > li:hover,
.colored-dark .is-ui .is-rte-pop.rte-paragraph-options > ul > li:focus {
  background: #525252;
}
.colored-dark #_cbhtml .is-rte-pop.rte-textsetting-options button.on,
.colored-dark .is-ui .is-rte-pop.rte-textsetting-options button.on {
  background: #525252;
}
.colored-dark #_cbhtml .is-rte-pop.rte-textsetting-options button:hover,
.colored-dark .is-ui .is-rte-pop.rte-textsetting-options button:hover {
  background: #525252;
}
.colored-dark #_cbhtml .is-rte-pop.rte-textsetting-options button:focus,
.colored-dark .is-ui .is-rte-pop.rte-textsetting-options button:focus {
  background: #525252;
}
.colored-dark #_cbhtml .is-rte-pop.rte-icon-options input[type=text],
.colored-dark .is-ui .is-rte-pop.rte-icon-options input[type=text] {
  color: rgba(255, 255, 255, 0.95);
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.45);
}
.colored-dark #_cbhtml .is-rte-pop.rte-icon-options #inpRteIconSearch::placeholder,
.colored-dark .is-ui .is-rte-pop.rte-icon-options #inpRteIconSearch::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.colored-dark #_cbhtml .is-rte-pop.rte-fontfamily-options input[type=text],
.colored-dark .is-ui .is-rte-pop.rte-fontfamily-options input[type=text] {
  color: rgba(255, 255, 255, 0.95);
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.45);
}
.colored-dark #_cbhtml .is-rte-pop.rte-fontfamily-options #inpRteFontSearch::placeholder,
.colored-dark .is-ui .is-rte-pop.rte-fontfamily-options #inpRteFontSearch::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker button,
.colored-dark .is-ui .is-rte-pop.rte-color-picker button {
  color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 3px 6px -6px rgba(0, 0, 0, 0.32);
  background: rgba(128, 128, 128, 0.3);
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker button:hover,
.colored-dark .is-ui .is-rte-pop.rte-color-picker button:hover {
  background: rgba(128, 128, 128, 0.3);
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker input[type=text],
.colored-dark .is-ui .is-rte-pop.rte-color-picker input[type=text] {
  color: rgba(255, 255, 255, 0.95);
  background: rgba(26, 26, 26, 0.4);
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.45);
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker .rte-color-picker-area > div,
.colored-dark .is-ui .is-rte-pop.rte-color-picker .rte-color-picker-area > div {
  opacity: 0.9;
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker .is-pop-tabs > div,
.colored-dark .is-ui .is-rte-pop.rte-color-picker .is-pop-tabs > div {
  background: #4d4d4d;
  color: rgba(255, 255, 255, 0.95);
  font-weight: bold;
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker .is-pop-tabs > div.active,
.colored-dark .is-ui .is-rte-pop.rte-color-picker .is-pop-tabs > div.active {
  background: transparent;
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker .rangeSlider,
.colored-dark .is-ui .is-rte-pop.rte-color-picker .rangeSlider {
  outline: 1px solid rgba(0, 0, 0, 0.08);
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker .rangeSlider__handle,
.colored-dark .is-ui .is-rte-pop.rte-color-picker .rangeSlider__handle {
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.55);
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker .dot-1,
.colored-dark .is-ui .is-rte-pop.rte-color-picker .dot-1 {
  background: rgba(255, 255, 255, 0.4);
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker .dot-2,
.colored-dark .is-ui .is-rte-pop.rte-color-picker .dot-2 {
  background: rgba(240, 240, 240, 0.3);
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker .dot-3,
.colored-dark .is-ui .is-rte-pop.rte-color-picker .dot-3 {
  background: rgba(255, 255, 255, 0.4);
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker .dot-4,
.colored-dark .is-ui .is-rte-pop.rte-color-picker .dot-4 {
  background: rgba(240, 240, 240, 0.3);
}
.colored-dark #_cbhtml .is-rte-pop.rte-color-picker .is-color-preview,
.colored-dark .is-ui .is-rte-pop.rte-color-picker .is-color-preview {
  border: transparent 1px solid;
}
.colored-dark #_cbhtml .is-rte-pop.rte-customtag-options > div button:hover,
.colored-dark .is-ui .is-rte-pop.rte-customtag-options > div button:hover {
  background: #525252;
}
.colored-dark #_cbhtml .is-rte-pop.rte-customtag-options > div button:focus,
.colored-dark .is-ui .is-rte-pop.rte-customtag-options > div button:focus {
  background: #525252;
}
.colored-dark #_cbhtml[toolbarleft] .is-rte-pop,
.colored-dark .is-ui[toolbarleft] .is-rte-pop {
  box-shadow: rgba(0, 0, 0, 0.05) 5px 0px 9px 0px;
}
.colored-dark #_cbhtml[toolbarright] .is-rte-pop,
.colored-dark .is-ui[toolbarright] .is-rte-pop {
  box-shadow: rgba(0, 0, 0, 0.05) -6px 1px 9px 0px;
}
.colored-dark #_cbhtml .is-modal,
.colored-dark .is-ui .is-modal {
  background: rgba(255, 255, 255, 0.000001);
}
.colored-dark #_cbhtml .is-modal button,
.colored-dark .is-ui .is-modal button {
  color: #000;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 6px -6px rgba(0, 0, 0, 0.32);
}
.colored-dark #_cbhtml .is-modal button:hover,
.colored-dark .is-ui .is-modal button:hover {
  background: rgba(255, 255, 255, 0.3);
}
.colored-dark #_cbhtml .is-modal button.on,
.colored-dark .is-ui .is-modal button.on {
  background: rgba(227, 227, 227, 0.3);
}
.colored-dark #_cbhtml .is-modal .is-separator,
.colored-dark .is-ui .is-modal .is-separator {
  border-top: rgba(0, 0, 0, 0.07) 1px solid;
}
.colored-dark #_cbhtml .is-modal .is-rangeslider,
.colored-dark .is-ui .is-modal .is-rangeslider {
  background: rgba(255, 255, 255, 0.18);
}
.colored-dark #_cbhtml .is-modal .is-rangeslider::-webkit-slider-thumb,
.colored-dark .is-ui .is-modal .is-rangeslider::-webkit-slider-thumb {
  background: #999999;
}
.colored-dark #_cbhtml .is-modal .is-rangeslider::-moz-range-thumb,
.colored-dark .is-ui .is-modal .is-rangeslider::-moz-range-thumb {
  background: #999999;
}
.colored-dark #_cbhtml .is-modal .is-modal-overlay,
.colored-dark .is-ui .is-modal .is-modal-overlay {
  background: rgba(255, 255, 255, 0.000001);
}
.colored-dark #_cbhtml .is-modal .is-modal-overlay.overlay-stay,
.colored-dark .is-ui .is-modal .is-modal-overlay.overlay-stay {
  background: rgba(183, 183, 183, 0.11);
}
.colored-dark #_cbhtml .is-modal.is-modal-content,
.colored-dark #_cbhtml .is-modal .is-modal-content,
.colored-dark .is-ui .is-modal.is-modal-content,
.colored-dark .is-ui .is-modal .is-modal-content {
  color: #000;
  background: #d6d6d6;
  border: 1px solid rgba(240, 240, 240, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.34);
  box-shadow: 4px 17px 20px 0px rgba(0, 0, 0, 0.08);
}
.colored-dark #_cbhtml .is-modal.is-modal-content svg,
.colored-dark #_cbhtml .is-modal .is-modal-content svg,
.colored-dark .is-ui .is-modal.is-modal-content svg,
.colored-dark .is-ui .is-modal .is-modal-content svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-modal:not(.is-modal-content) > div:not(.is-modal-overlay),
.colored-dark .is-ui .is-modal:not(.is-modal-content) > div:not(.is-modal-overlay) {
  color: #000;
  background: #d6d6d6;
  border: 1px solid rgba(240, 240, 240, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.34);
  box-shadow: 4px 17px 20px 0px rgba(0, 0, 0, 0.08);
}
.colored-dark #_cbhtml .is-modal:not(.is-modal-content) > div:not(.is-modal-overlay) svg,
.colored-dark .is-ui .is-modal:not(.is-modal-content) > div:not(.is-modal-overlay) svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-modal div.is-modal-bar,
.colored-dark .is-ui .is-modal div.is-modal-bar {
  color: #595959;
}
.colored-dark #_cbhtml .is-modal div.is-modal-bar .is-modal-close,
.colored-dark .is-ui .is-modal div.is-modal-bar .is-modal-close {
  color: #000;
}
.colored-dark #_cbhtml .is-modal.viewhtml textarea,
.colored-dark .is-ui .is-modal.viewhtml textarea {
  background-color: #fff;
}
.colored-dark #_cbhtml .is-modal.previewcontent,
.colored-dark .is-ui .is-modal.previewcontent {
  background: #e3e3e3;
}
.colored-dark #_cbhtml .is-modal.previewcontent .size-control,
.colored-dark .is-ui .is-modal.previewcontent .size-control {
  cursor: pointer;
  background: #cccccc;
  border-left: #f0f0f0 2px solid;
  border-right: #f0f0f0 2px solid;
}
.colored-dark #_cbhtml .is-modal.previewcontent .size-control-info,
.colored-dark .is-ui .is-modal.previewcontent .size-control-info {
  color: #000;
}
.colored-dark #_cbhtml .is-modal.previewcontent .size-control.hover,
.colored-dark .is-ui .is-modal.previewcontent .size-control.hover {
  background: #dedede;
}
.colored-dark #_cbhtml .is-modal.previewcontent .is-modal-close svg,
.colored-dark .is-ui .is-modal.previewcontent .is-modal-close svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-modal.grideditor,
.colored-dark .is-ui .is-modal.grideditor {
  background: #d6d6d6;
}
.colored-dark #_cbhtml .is-modal.grideditor .is-separator,
.colored-dark .is-ui .is-modal.grideditor .is-separator {
  border-top: rgba(0, 0, 0, 0.07) 1px solid;
}
.colored-dark #_cbhtml .is-modal.pickgradientcolor div.is-modal-content > div,
.colored-dark .is-ui .is-modal.pickgradientcolor div.is-modal-content > div {
  opacity: 0.9;
}
.colored-dark #_cbhtml .is-modal.pickgradientcolor .is-settings button.is-btn-color,
.colored-dark .is-ui .is-modal.pickgradientcolor .is-settings button.is-btn-color {
  background-color: rgba(255, 255, 255, 0.2);
  border: rgba(255, 255, 255, 0.55) 1px solid;
}
.colored-dark #_cbhtml .is-modal.pickgradientcolor .is-settings button .is-elmgrad-remove,
.colored-dark .is-ui .is-modal.pickgradientcolor .is-settings button .is-elmgrad-remove {
  background: rgba(95, 94, 94, 0.26);
  color: #fff;
}
.colored-dark #_cbhtml .is-modal.edittable .is-modal-bar,
.colored-dark .is-ui .is-modal.edittable .is-modal-bar {
  background-color: rgba(255, 255, 255, 0.12);
}
.colored-dark #_cbhtml .is-modal.edittable button.is-btn-color,
.colored-dark .is-ui .is-modal.edittable button.is-btn-color {
  background-color: rgba(255, 255, 255, 0.2);
  border: rgba(255, 255, 255, 0.55) 1px solid;
}
.colored-dark #_cbhtml .is-modal.buttoneditor .is-modal-bar,
.colored-dark .is-ui .is-modal.buttoneditor .is-modal-bar {
  background-color: rgba(255, 255, 255, 0.12);
}
.colored-dark #_cbhtml .is-modal.columnsettings .is-modal-bar, .colored-dark #_cbhtml .is-modal.rowsettings .is-modal-bar,
.colored-dark .is-ui .is-modal.columnsettings .is-modal-bar,
.colored-dark .is-ui .is-modal.rowsettings .is-modal-bar {
  background-color: rgba(255, 255, 255, 0.12);
}
.colored-dark #_cbhtml .is-modal.columnsettings button.is-btn-color, .colored-dark #_cbhtml .is-modal.rowsettings button.is-btn-color,
.colored-dark .is-ui .is-modal.columnsettings button.is-btn-color,
.colored-dark .is-ui .is-modal.rowsettings button.is-btn-color {
  background-color: rgba(255, 255, 255, 0.2);
  border: rgba(255, 255, 255, 0.55) 1px solid;
}
.colored-dark #_cbhtml .is-modal.pickcolor button,
.colored-dark .is-ui .is-modal.pickcolor button {
  color: rgba(0, 0, 0, 0.95);
  box-shadow: 0px 3px 6px -6px rgba(0, 0, 0, 0.32);
  background: rgba(255, 255, 255, 0.3);
}
.colored-dark #_cbhtml .is-modal.pickcolor button:hover,
.colored-dark .is-ui .is-modal.pickcolor button:hover {
  background: rgba(255, 255, 255, 0.3);
}
.colored-dark #_cbhtml .is-modal.pickcolor input[type=text],
.colored-dark .is-ui .is-modal.pickcolor input[type=text] {
  color: rgba(0, 0, 0, 0.83);
  background: rgba(189, 189, 189, 0.25);
  border: none;
  border-bottom: 1px solid #e3e3e3;
}
.colored-dark #_cbhtml .is-modal.pickcolor div.is-modal-content > div,
.colored-dark .is-ui .is-modal.pickcolor div.is-modal-content > div {
  opacity: 0.9;
}
.colored-dark #_cbhtml .is-modal.pickcolor .rangeSlider,
.colored-dark .is-ui .is-modal.pickcolor .rangeSlider {
  outline: 1px solid rgba(0, 0, 0, 0.08);
}
.colored-dark #_cbhtml .is-modal.pickcolor .rangeSlider__handle,
.colored-dark .is-ui .is-modal.pickcolor .rangeSlider__handle {
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.55);
}
.colored-dark #_cbhtml .is-modal.pickcolor .dot-1,
.colored-dark .is-ui .is-modal.pickcolor .dot-1 {
  background: rgba(255, 255, 255, 0.4);
}
.colored-dark #_cbhtml .is-modal.pickcolor .dot-2,
.colored-dark .is-ui .is-modal.pickcolor .dot-2 {
  background: rgba(240, 240, 240, 0.4);
}
.colored-dark #_cbhtml .is-modal.pickcolor .dot-3,
.colored-dark .is-ui .is-modal.pickcolor .dot-3 {
  background: rgba(255, 255, 255, 0.4);
}
.colored-dark #_cbhtml .is-modal.pickcolor .dot-4,
.colored-dark .is-ui .is-modal.pickcolor .dot-4 {
  background: rgba(240, 240, 240, 0.4);
}
.colored-dark #_cbhtml .is-modal.pickcolor .is-color-preview,
.colored-dark .is-ui .is-modal.pickcolor .is-color-preview {
  border: transparent 1px solid;
}
.colored-dark #_cbhtml .is-modal.snippetwindow .is-modal-bar,
.colored-dark .is-ui .is-modal.snippetwindow .is-modal-bar {
  background-color: rgba(255, 255, 255, 0.12);
}
.colored-dark #_cbhtml .is-modal.snippetwindow .select-styled,
.colored-dark .is-ui .is-modal.snippetwindow .select-styled {
  border-bottom: 1px solid #bababa38;
}
.colored-dark #_cbhtml .is-modal.pickcolormore div.is-modal-content > div,
.colored-dark .is-ui .is-modal.pickcolormore div.is-modal-content > div {
  opacity: 0.9;
}
.colored-dark #_cbhtml .is-modal.pickfontfamily .is-modal-bar,
.colored-dark .is-ui .is-modal.pickfontfamily .is-modal-bar {
  background: rgba(255, 255, 255, 0.12);
}
.colored-dark #_cbhtml .is-modal.insertimage .is-drop-area,
.colored-dark .is-ui .is-modal.insertimage .is-drop-area {
  border: 2px dashed rgba(0, 0, 0, 0.3);
}
.colored-dark #_cbhtml .is-modal.insertimage .is-drop-area svg,
.colored-dark .is-ui .is-modal.insertimage .is-drop-area svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-modal.insertimage .is-drop-area:hover,
.colored-dark .is-ui .is-modal.insertimage .is-drop-area:hover {
  background-color: #dbdbdb;
}
.colored-dark #_cbhtml .is-modal.insertimage .is-drop-area.image-dropping,
.colored-dark .is-ui .is-modal.insertimage .is-drop-area.image-dropping {
  background-color: #dbdbdb;
}
.colored-dark #_cbhtml .is-modal.insertimage .is-preview-area,
.colored-dark .is-ui .is-modal.insertimage .is-preview-area {
  opacity: 0.8;
}
.colored-dark #_cbhtml .is-modal.insertimage .is-preview-area div i,
.colored-dark .is-ui .is-modal.insertimage .is-preview-area div i {
  background: rgba(0, 0, 0, 0.23);
  color: #fff;
}
.colored-dark #_cbhtml .is-modal.imageedit .imageedit-crop button,
.colored-dark .is-ui .is-modal.imageedit .imageedit-crop button {
  color: #000;
  border: rgba(0, 0, 0, 0.32) 1px solid;
}
.colored-dark #_cbhtml .is-modal ::-webkit-input-placeholder,
.colored-dark .is-ui .is-modal ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.colored-dark #_cbhtml .is-modal :-ms-input-placeholder,
.colored-dark .is-ui .is-modal :-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.colored-dark #_cbhtml .is-modal ::placeholder,
.colored-dark .is-ui .is-modal ::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.colored-dark #_cbhtml .is-tool#divImageTool,
.colored-dark .is-ui .is-tool#divImageTool {
  background: rgba(0, 0, 0, 0.15);
}
.colored-dark #_cbhtml .is-tool#divImageTool svg,
.colored-dark .is-ui .is-tool#divImageTool svg {
  fill: #fff;
}
.colored-dark #_cbhtml .is-tool.is-spacer-tool > button,
.colored-dark .is-ui .is-tool.is-spacer-tool > button {
  background: #eaeaea;
}
.colored-dark #_cbhtml .is-tool.is-spacer-tool > button svg,
.colored-dark .is-ui .is-tool.is-spacer-tool > button svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-tool.is-table-tool > button,
.colored-dark .is-ui .is-tool.is-table-tool > button {
  background: #eaeaea;
}
.colored-dark #_cbhtml .is-tool.is-table-tool > button svg,
.colored-dark .is-ui .is-tool.is-table-tool > button svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-tool.is-code-tool > button, .colored-dark #_cbhtml .is-tool.is-module-tool > button, .colored-dark #_cbhtml .is-tool.is-svg-tool > button,
.colored-dark .is-ui .is-tool.is-code-tool > button,
.colored-dark .is-ui .is-tool.is-module-tool > button,
.colored-dark .is-ui .is-tool.is-svg-tool > button {
  background: #eaeaea;
}
.colored-dark #_cbhtml .is-tool.is-code-tool > button svg, .colored-dark #_cbhtml .is-tool.is-module-tool > button svg, .colored-dark #_cbhtml .is-tool.is-svg-tool > button svg,
.colored-dark .is-ui .is-tool.is-code-tool > button svg,
.colored-dark .is-ui .is-tool.is-module-tool > button svg,
.colored-dark .is-ui .is-tool.is-svg-tool > button svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-tool#divLinkTool button, .colored-dark #_cbhtml .is-tool#divButtonTool button,
.colored-dark .is-ui .is-tool#divLinkTool button,
.colored-dark .is-ui .is-tool#divButtonTool button {
  background: #eaeaea;
}
.colored-dark #_cbhtml .is-tool#divLinkTool button svg, .colored-dark #_cbhtml .is-tool#divButtonTool button svg,
.colored-dark .is-ui .is-tool#divLinkTool button svg,
.colored-dark .is-ui .is-tool#divButtonTool button svg {
  fill: #000;
}
.colored-dark #_cbhtml #divImageProgress,
.colored-dark .is-ui #divImageProgress {
  background: rgba(107, 107, 107, 0.15);
}
.colored-dark #_cbhtml #divImageProgress .dot,
.colored-dark .is-ui #divImageProgress .dot {
  background-color: #fff;
}
.colored-dark #_cbhtml .is-side,
.colored-dark .is-ui .is-side {
  color: #000;
  box-shadow: rgba(51, 51, 51, 0.05) 0 0 16px 0px;
  background: #d6d6d6;
}
.colored-dark #_cbhtml .is-side svg,
.colored-dark .is-ui .is-side svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-side.fromleft,
.colored-dark .is-ui .is-side.fromleft {
  border-right: 1px solid #d6d6d6;
}
.colored-dark #_cbhtml button,
.colored-dark #_cbhtml .is-btn,
.colored-dark .is-ui button,
.colored-dark .is-ui .is-btn {
  color: rgba(255, 255, 255, 0.95);
  background: #333;
  box-shadow: 0px 3px 6px -6px rgba(0, 0, 0, 0.32);
}
.colored-dark #_cbhtml button:hover,
.colored-dark #_cbhtml .is-btn:hover,
.colored-dark .is-ui button:hover,
.colored-dark .is-ui .is-btn:hover {
  background: #383838;
}
.colored-dark #_cbhtml button svg,
.colored-dark #_cbhtml .is-btn svg,
.colored-dark .is-ui button svg,
.colored-dark .is-ui .is-btn svg {
  fill: rgba(255, 255, 255, 0.95);
}
.colored-dark #_cbhtml button.classic,
.colored-dark #_cbhtml .is-btn.classic,
.colored-dark .is-ui button.classic,
.colored-dark .is-ui .is-btn.classic {
  color: #000;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 6px -6px rgba(0, 0, 0, 0.32);
}
.colored-dark #_cbhtml button.classic:hover,
.colored-dark #_cbhtml .is-btn.classic:hover,
.colored-dark .is-ui button.classic:hover,
.colored-dark .is-ui .is-btn.classic:hover {
  background: rgba(255, 255, 255, 0.3);
}
.colored-dark #_cbhtml button.classic-primary,
.colored-dark #_cbhtml .is-btn.classic-primary,
.colored-dark .is-ui button.classic-primary,
.colored-dark .is-ui .is-btn.classic-primary {
  color: #000;
  background: rgba(255, 255, 255, 0.3);
  border: transparent 1px solid;
  box-shadow: 0px 3px 6px -6px rgba(0, 0, 0, 0.32);
}
.colored-dark #_cbhtml button.classic-primary:hover,
.colored-dark #_cbhtml .is-btn.classic-primary:hover,
.colored-dark .is-ui button.classic-primary:hover,
.colored-dark .is-ui .is-btn.classic-primary:hover {
  border: transparent 1px solid;
  background: rgba(255, 255, 255, 0.3);
}
.colored-dark #_cbhtml button.classic-secondary,
.colored-dark #_cbhtml .is-btn.classic-secondary,
.colored-dark .is-ui button.classic-secondary,
.colored-dark .is-ui .is-btn.classic-secondary {
  color: #000;
  background: transparent;
  border: transparent 1px solid;
  box-shadow: 0px 3px 6px -6px rgba(0, 0, 0, 0.32);
}
.colored-dark #_cbhtml button.classic-secondary:hover,
.colored-dark #_cbhtml .is-btn.classic-secondary:hover,
.colored-dark .is-ui button.classic-secondary:hover,
.colored-dark .is-ui .is-btn.classic-secondary:hover {
  border: transparent 1px solid;
  background: transparent;
}
.colored-dark #_cbhtml textarea:not(.monaco-mouse-cursor-text),
.colored-dark .is-ui textarea:not(.monaco-mouse-cursor-text) {
  border: 1px solid rgba(0, 0, 0, 0.08);
  background-color: rgba(189, 189, 189, 0.25);
  color: rgba(0, 0, 0, 0.83);
}
.colored-dark #_cbhtml select,
.colored-dark .is-ui select {
  color: rgba(0, 0, 0, 0.83);
  background-color: #e3e3e3;
}
.colored-dark #_cbhtml select option,
.colored-dark .is-ui select option {
  background: #e8e8e8;
}
.colored-dark #_cbhtml input[type=text],
.colored-dark .is-ui input[type=text] {
  color: rgba(0, 0, 0, 0.83);
  border: none;
  border-bottom: none;
  background-color: rgba(189, 189, 189, 0.25);
}
.colored-dark #_cbhtml input[type=checkbox],
.colored-dark .is-ui input[type=checkbox] {
  opacity: 0.7;
}
.colored-dark #_cbhtml label,
.colored-dark .is-ui label {
  color: #000;
}
.colored-dark #_cbhtml .is-tabs,
.colored-dark .is-ui .is-tabs {
  background: rgba(255, 255, 255, 0.12);
}
.colored-dark #_cbhtml .is-tabs a,
.colored-dark .is-ui .is-tabs a {
  color: rgba(0, 0, 0, 0.95);
  border-bottom: transparent 1px solid;
}
.colored-dark #_cbhtml .is-tabs a.active,
.colored-dark .is-ui .is-tabs a.active {
  background: transparent;
  border-bottom: rgba(0, 0, 0, 0.5) 1px solid;
}
.colored-dark #_cbhtml .is-tabs a svg,
.colored-dark .is-ui .is-tabs a svg {
  fill: rgba(0, 0, 0, 0.95);
}
.colored-dark #_cbhtml .is-tabs-more,
.colored-dark .is-ui .is-tabs-more {
  background: #dedede;
  border: 1px solid #dedede;
  box-shadow: 3px 4px 9px 0px rgba(0, 0, 0, 0.07);
}
.colored-dark #_cbhtml .is-tabs-more > li,
.colored-dark .is-ui .is-tabs-more > li {
  color: rgba(0, 0, 0, 0.95);
}
.colored-dark #_cbhtml .is-tabs-more > li:hover, .colored-dark #_cbhtml .is-tabs-more > li.active,
.colored-dark .is-ui .is-tabs-more > li:hover,
.colored-dark .is-ui .is-tabs-more > li.active {
  background: rgba(255, 255, 255, 0.55);
}
.colored-dark #_cbhtml #divSnippetList,
.colored-dark .is-ui #divSnippetList {
  background: #e8e8e8;
  border-left: 1px solid #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.03) 0 0 10px 0px;
}
.colored-dark #_cbhtml #divSnippetList #divSnippetHandle,
.colored-dark .is-ui #divSnippetList #divSnippetHandle {
  background: #e8e8e8;
  border: 1px solid #e5e5e5;
  box-shadow: rgba(0, 0, 0, 0.025) -4px 2px 5px 0px;
}
.colored-dark #_cbhtml #divSnippetList #divSnippetHandle svg,
.colored-dark .is-ui #divSnippetList #divSnippetHandle svg {
  fill: #000;
}
.colored-dark #_cbhtml #divSnippetList.fromleft #divSnippetHandle,
.colored-dark .is-ui #divSnippetList.fromleft #divSnippetHandle {
  border-right: 1px solid #e5e5e5;
}
.colored-dark #_cbhtml #divSnippetScrollUp,
.colored-dark #_cbhtml #divSnippetScrollDown,
.colored-dark .is-ui #divSnippetScrollUp,
.colored-dark .is-ui #divSnippetScrollDown {
  background: rgba(82, 82, 82, 0.6);
  color: #fff;
}
.colored-dark #_cbhtml .is-design-list > div,
.colored-dark .is-ui .is-design-list > div {
  outline: rgba(219, 219, 219, 0.35) 1px solid !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.03);
}
.colored-dark #_cbhtml .is-design-list > div .is-overlay,
.colored-dark .is-ui .is-design-list > div .is-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.colored-dark #_cbhtml .is-design-list > div .is-overlay:after,
.colored-dark .is-ui .is-design-list > div .is-overlay:after {
  background: rgba(0, 0, 0, 0.03);
}
.colored-dark #_cbhtml .is-design-list .snippet-item.sortable-drag:hover,
.colored-dark .is-ui .is-design-list .snippet-item.sortable-drag:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.colored-dark #_cbhtml .is-selectbox,
.colored-dark .is-ui .is-selectbox {
  color: #000;
  background: #d6d6d6;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.04);
}
.colored-dark #_cbhtml .is-selectbox:hover,
.colored-dark .is-ui .is-selectbox:hover {
  background: #d9d9d9;
}
.colored-dark #_cbhtml .is-selectbox svg,
.colored-dark .is-ui .is-selectbox svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-selectbox-options,
.colored-dark .is-ui .is-selectbox-options {
  border: transparent 1px solid;
  background-color: #d6d6d6;
}
.colored-dark #_cbhtml .is-selectbox-options > div,
.colored-dark .is-ui .is-selectbox-options > div {
  color: #000;
}
.colored-dark #_cbhtml .is-selectbox-options > div:hover,
.colored-dark .is-ui .is-selectbox-options > div:hover {
  background: rgba(255, 255, 255, 0.38);
}
.colored-dark #_cbhtml .is-selectbox-options > div.selected,
.colored-dark .is-ui .is-selectbox-options > div.selected {
  background: rgba(255, 255, 255, 0.38);
}
.colored-dark #_cbhtml .elementstyles .elm-list,
.colored-dark .is-ui .elementstyles .elm-list {
  color: rgba(0, 0, 0, 0.95);
  border-bottom: transparent 1px solid;
}
.colored-dark #_cbhtml .elementstyles .elm-list a,
.colored-dark .is-ui .elementstyles .elm-list a {
  color: rgba(0, 0, 0, 0.95);
}
.colored-dark #_cbhtml .elementstyles .elm-list a.active,
.colored-dark .is-ui .elementstyles .elm-list a.active {
  color: #000;
  background: rgba(255, 255, 255, 0.3);
}
.colored-dark #_cbhtml .elementstyles .is-settings button.is-btn-color,
.colored-dark .is-ui .elementstyles .is-settings button.is-btn-color {
  background-color: rgba(255, 255, 255, 0.2);
  border: rgba(255, 255, 255, 0.55) 1px solid;
}
.colored-dark .is-tool {
  background: #eaeaea;
}
.colored-dark .is-tool button {
  color: #000;
}
.colored-dark .is-tool button svg {
  fill: #000;
}
.colored-dark #_cbhtml[gray] .is-tool.is-column-tool {
  background: #eaeaea;
}
.colored-dark #_cbhtml[gray] .is-tool.is-column-tool .cell-add {
  background: transparent;
}
.colored-dark #_cbhtml[gray] .is-tool.is-column-tool .cell-more {
  background: transparent;
}
.colored-dark #_cbhtml[gray] .is-tool.is-column-tool .cell-remove {
  background: transparent;
}
.colored-dark #_cbhtml[gray] .is-tool.is-column-tool svg {
  fill: #000;
}
.colored-dark #_cbhtml .is-tool.is-column-tool .cell-add {
  background: #0fcc52;
}
.colored-dark #_cbhtml .is-tool.is-column-tool .cell-more {
  background: rgba(216, 200, 6, 0.9);
}
.colored-dark #_cbhtml .is-tool.is-column-tool .cell-remove {
  background: rgba(255, 85, 4, 0.9);
}
.colored-dark #_cbhtml .is-tool.is-column-tool svg {
  fill: #fff;
}
.colored-dark #_cbhtml .is-pop.columnmore div.is-separator {
  border-top: rgba(0, 0, 0, 0.07) 1px solid;
}
.colored-dark #_cbhtml .is-pop.rowmore div.is-separator {
  border-top: rgba(0, 0, 0, 0.07) 1px solid;
}
.colored-dark #_cbhtml .is-pop.quickadd .pop-separator {
  border-top: rgba(0, 0, 0, 0.07) 1px solid;
}
.colored-dark #_cbhtml .is-tool.is-element-tool {
  background: #eaeaea;
}
.colored-dark #_cbhtml .is-tool.is-element-tool button {
  background: transparent;
}
.colored-dark #_cbhtml .is-tool.is-element-tool svg {
  fill: #000;
}
.colored-dark .is-tool.is-row-tool svg {
  fill: #fff;
}
.colored-dark .is-tool.is-row-tool .row-handle {
  background: #169af7;
}
.colored-dark .is-tool.is-row-tool .row-grideditor {
  background: rgba(216, 200, 6, 0.9);
}
.colored-dark .is-tool.is-row-tool .row-more {
  background: rgba(216, 200, 6, 0.9);
}
.colored-dark .is-tool.is-row-tool .row-remove {
  background: rgba(255, 85, 4, 0.9);
}
.colored-dark .is-builder[gray] .is-tool.is-row-tool {
  background: #eaeaea;
}
.colored-dark .is-builder[gray] .is-tool.is-row-tool svg {
  fill: #000;
}
.colored-dark .is-builder[gray] .is-tool.is-col-tool {
  background: #eaeaea;
}
.colored-dark .is-builder[gray] .is-tool.is-col-tool svg {
  fill: #000;
}
.colored-dark .is-rowadd-tool {
  border-bottom: 1px solid #ffb784;
}
.colored-dark .is-rowadd-tool button {
  border: 1px solid #ff8e3e;
}
.colored-dark .is-builder[gray] .is-rowadd-tool {
  border-bottom: 1px solid rgba(222, 222, 222, 0.32);
}
.colored-dark .is-builder[gray] .is-rowadd-tool button {
  border: 1px solid rgba(0, 0, 0, 0.13);
}
.colored-dark .row-add-initial {
  color: #333;
  border: 1px dashed rgba(169, 169, 169, 0.8);
  background: rgba(255, 255, 255, 0.5);
}
.colored-dark .row-add-initial:hover {
  background: rgba(248, 248, 248, 0.35);
}
.colored-dark .is-builder[clean] .is-tool.is-row-tool {
  background: #eaeaea;
}
.colored-dark .is-builder[clean] .is-tool.is-row-tool .row-grideditor {
  background: transparent;
}
.colored-dark .is-builder[clean] .is-tool.is-row-tool .row-grideditor svg {
  fill: #000;
}
.colored-dark .is-builder[clean] .row-outline {
  outline: none;
}
.colored-dark .is-builder[clean] .cell-active {
  outline: none;
}
.colored-dark .is-builder[clean] .row-active:not([data-protected]) {
  outline: 1px solid rgba(132, 132, 132, 0.2);
}
.colored-dark .is-builder[rowoutline] .row-outline {
  outline: none;
}
.colored-dark .is-builder[rowoutline] .cell-active {
  outline: none;
}
.colored-dark .is-builder[rowoutline] .row-active:not([data-protected]) {
  outline: 1px solid #00da89;
}
.colored-dark .is-builder[grayoutline] .row-outline {
  outline: none;
}
.colored-dark .is-builder[grayoutline] .cell-active:not([data-protected]) {
  outline: 1px solid rgba(132, 132, 132, 0.1);
}
.colored-dark .is-builder[grayoutline] .row-active:not([data-protected]) {
  outline: 1px solid rgba(132, 132, 132, 0.2);
}
.colored-dark .is-builder[rowoutline][grayoutline] .row-outline {
  outline: none;
}
.colored-dark .is-builder[rowoutline][grayoutline] .cell-active {
  outline: none;
}
.colored-dark .is-builder[rowoutline][grayoutline] .row-active:not([data-protected]) {
  outline: 1px solid rgba(132, 132, 132, 0.2);
}
.colored-dark .is-builder[hideoutline] .row-outline {
  outline: none !important;
}
.colored-dark .is-builder[hideoutline] .cell-active {
  outline: none !important;
}
.colored-dark .is-builder[hideoutline] .row-active {
  outline: none !important;
}
.colored-dark .is-builder[hideoutline] .row-active.row-outline {
  outline: none !important;
}
.colored-dark .is-builder[hidesnippetaddtool] .row-outline .is-rowadd-tool,
.colored-dark .is-builder[hidesnippetaddtool] .row-active .is-rowadd-tool {
  display: none;
}
.colored-dark .is-builder[hideelementhighlight] .elm-active {
  background-color: transparent;
}
.colored-dark .is-tooltip {
  background: #333;
  color: #fefefe;
}
.colored-dark .scroll * {
  scrollbar-width: thin;
  scrollbar-color: #646464 auto;
}
.colored-dark .scroll *::-webkit-scrollbar {
  width: 12px;
}
.colored-dark .scroll *::-webkit-scrollbar-track {
  background: transparent;
}
.colored-dark .scroll *::-webkit-scrollbar-thumb {
  background-color: #646464;
}
.colored-dark .scroll-darker * {
  scrollbar-width: thin;
  scrollbar-color: rgba(78, 78, 78, 0.62) auto;
}
.colored-dark .scroll-darker *::-webkit-scrollbar {
  width: 12px;
}
.colored-dark .scroll-darker *::-webkit-scrollbar-track {
  background: transparent;
}
.colored-dark .scroll-darker *::-webkit-scrollbar-thumb {
  background-color: rgba(78, 78, 78, 0.62);
}
.colored-dark .custom-select .select-styled span {
  color: #000;
}
.colored-dark .custom-select input {
  background: #d6d6d6;
}
.colored-dark .custom-select .select-options {
  border: transparent 1px solid;
  background-color: #d6d6d6;
  color: #000;
}
.colored-dark .custom-select .select-options li {
  color: #000;
}
.colored-dark .custom-select .select-options li:hover {
  background-color: rgba(255, 255, 255, 0.38);
}
.colored-dark .custom-select .select-options li.selected {
  background-color: rgba(255, 255, 255, 0.38);
}
