.dashboard {
    @apply font-light flex
}

.dashboard h1 {
    @apply font-semibold text-3xl text-gray-900
}

.dashboard h2 {
    @apply font-semibold text-2xl text-gray-900 dark:text-white
}

.dashboard h3 {
    @apply font-bold text-2xl leading-6 text-gray-900 dark:text-white
}

.dashboard label {
    @apply block text-sm font-medium text-gray-900 dark:text-white
}

.dashboard input[type="text"].error {
    @apply border-2 border-rose-600
}

.dashboard button.tab {
    @apply px-4 py-2 bg-white text-black bg-transparent shadow-none
}
.dashboard button.tabactive {
    @apply px-4 py-2 transform transition tracking-wide font-medium shadow-sm text-sm rounded-md bg-[#EDEDED] dark:bg-[#636366] text-white
    flex justify-center items-center border border-transparent
}

.modal {
    @apply z-10 bg-white max-w-[520px] w-full relative rounded-[13px]
    inline-block p-8 my-8 overflow-hidden text-left align-middle transition-all transform 
}

.modal2 {
    @apply z-10 bg-white max-w-[800px] w-full relative rounded 
    shadow-[6px_5px_0px_0px_rgba(239,241,248,1)] border border-solid border-gray-400
    inline-block p-8 md:p-16 my-8 overflow-hidden text-left align-middle transition-all transform 
}

.card {
    /* @apply rounded mr-10 mb-10 w-14 w-[255px] min-h-[250px] shadow-[6px_5px_0px_0px_rgba(239,241,248,1)] p-6 flex justify-between flex-col relative tracking-wide border border-solid border-gray-400/75 */
    @apply w-full py-6 flex justify-between relative tracking-wide border-b border-solid border-b-[#EBEBEB] items-center h-[160px]
}

.onlineinfo {
    /* @apply absolute right-6 bottom-20 text-gray-500 text-xs */
    @apply text-white text-xs w-fit bg-green-500 leading-5 rounded-full px-3
}

.dashboard .cardbutton {
    /* @apply px-4 py-2 font-normal shadow-sm text-xs rounded bg-brand hover:bg-brand-light text-gray-800
    focus:outline-none 
    focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500
    no-underline flex justify-center items-center */
    @apply px-6 py-2.5 font-normal shadow-sm text-base rounded-full bg-[#2C2C2E] text-white h-fit
    no-underline flex justify-center items-center
}

.more button {
    @apply bg-transparent hover:bg-transparent text-gray-800 p-0 focus:outline-none shadow-none
    focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 rounded-sm
}

.moremenu {
    @apply z-10 top-24 right-2 absolute w-40 bg-white rounded shadow-[5px_5px_0px_rgba(239,241,248,1)] p-3 flex flex-col tracking-wide border border-solid border-gray-400/75
}

.moremenu button,
.moremenu a {
    @apply transform transition font-normal text-[0.9rem]
    flex justify-center items-center border border-transparent 
    bg-transparent text-gray-800
    px-4 py-[0.37rem] 
    no-underline
    focus:outline-none focus:ring-transparent shadow-none rounded
    hover:bg-indigo-500 hover:text-white 
}

.moremenu .active {
    @apply bg-indigo-500 text-white
}

.menuseparator {
    @apply m-1 border-t border-gray-300
}

.inputrows {
    @apply flex
}
.inputrows input[type=text] {
    @apply flex-none w-[60%] md:w-[76%] mt-1 mb-1 ml-0 mr-1
}
.inputrows button {
    @apply m-1 h-10 
}
.inputrowsfooter {
    @apply mt-6 w-[60%] md:w-[76%]
}

.user {
    @apply rounded mr-10 mb-10 w-14 w-[250px] shadow-[6px_5px_0px_0px_rgba(239,241,248,1)] p-6 flex justify-between flex-col relative tracking-wide border border-solid border-gray-400/75
}
